{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">


    <h2>Entrar</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <span class="forgot-link">
            <a href="{% url 'password_reset' %}">
                Esqueceu sua senha?
            </a>
        </span>
        <button type="submit">Entrar</button>
    </form>
    
    <div style="text-align: center; margin-top: 20px;">
        <p>Ainda não tem uma conta? <a href="{% url 'register' %}">Cadastrar</a></p>
    </div>

</div>