{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">

    <h2>{% if book %}Editar{% else %}Adicionar{% endif %} livro</h2>

    <form method="post">
        {% csrf_token %}

        <input type="text" name="title" placeholder="Título" value="{{ book.title|default:'' }}"><br><br>
        <input type="text" name="author" placeholder="Autor" value="{{ book.author|default:'' }}"><br><br>
        <textarea name="description" placeholder="Descrição">{{ book.description|default:'' }}</textarea><br><br>

        <button type="submit">Salvar</button>
    </form>

</div>