{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">

    <h1>📚 Biblioteca</h1>

    <div class="top-bar">
        {% if user.is_authenticated %}
            <p>Olá {{ user.username }}</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        {% else %}
            <div>
                <a href="{% url 'login' %}">Entrar</a> |
                <a href="{% url 'register' %}">Cadastrar</a>
            </div>
        {% endif %}
    </div>

    <a href="{% url 'book_create' %}">
        <button>+ Adicionar livro</button>
    </a>

    {% for book in books %}
        <div class="card">
            <strong>
                <a href="{% url 'book_detail' book.id %}">
                    {{ book.title }}
                </a>
            </strong>
            <p>Autor: {{ book.author }}</p>

            {% if user == book.owner %}
                <div class="actions">
                    <a href="{% url 'book_update' book.id %}">✏️ Editar</a> |
                    <a href="{% url 'book_delete' book.id %}">🗑 Excluir</a>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <p>Nenhum livro cadastrado ainda.</p>
    {% endfor %}

</div>