{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">

    <div class="card">
        <h2>{{ book.title }}</h2>

        <p><strong>Autor:</strong> {{ book.author }}</p>

        <p><strong>Descrição:</strong></p>
        <p>{{ book.description }}</p>
    </div>

    <a class="back" href="{% url 'book_list' %}">⬅ Voltar</a>

    {% if user == book.owner %}
        <div class="actions">
            <a href="{% url 'book_update' book.id %}">✏️ Editar</a> |
            <a href="{% url 'book_delete' book.id %}">🗑 Excluir</a>
        </div>
    {% endif %}

</div>